<h1>Listing Customers without email</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render "missing_email" %>
  </tbody>
</table>

<br>

<%= link_to "Index", "/" %>
<br>
<%= link_to "Alphabetized", customers_alphabetized_path %>